.sixth-page{
  width: 100vw;
  height: auto;
  padding: 3.4rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background: $dark;
  &__container{
    min-width: 50%;
    height: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    &__impressum span, &__social span{
      color: white;
      text-transform: uppercase;
      font-size: 1.2rem;
      border-bottom: 1px solid white;
      @mixin mediumScreen{
        font-size: 2rem;
      }
    }
    &__impressum ul{
      margin-top: 0.5rem;
    }
    &__impressum ul li{
      text-align: center;
      margin-top: 0.2rem;
      list-style: none;
      color: white;
      @mixin mediumScreen{
        font-size: 0.8rem;
      }
    }

  }
}
