.third-page{
  width: 100vw;
  height: 100vh;
  background: $blue;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  &__container{
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    @mixin mediumScreen{
      align-items: flex-start;
    }
    &__edu{
      color: white;
      font-size: 2rem;
      border-bottom: 4px solid white;
      text-transform: uppercase;
      text-align: center;
      @mixin mediumScreen{
        font-size: 4rem;
        margin-top: 0;
      }
    }
    &__edu:before{
      content: "";
      background: url(../../assets/img/book.png) no-repeat;
      background-position: center;
      background-size: 70%;
      margin-right: 0.5rem;
      padding: 0px 29px;
      filter: invert(100%);
      @mixin mediumScreen{
        margin-right: 1.2rem;
        padding: 0px 35px;
        background-size: 100%;
      }
    }
    &__list{
      margin-top: 1.2rem;
      color: white;
      &__date-deg{
        text-transform: uppercase;
        display: block;
        font-size: 1.08rem;
        margin-top: 1.2rem;
      }
      &__date-deg:nth-child(1){
        margin-top: 0;
      }
      &__describtion{
        margin-top: 0.3rem;
        display: block;
        font-size: 0.9rem;
      }
      &__describtion .small-fix{
        display: none;
        font-weight: 400;
        color: white;
        font-size: 1rem;
        @mixin mediumScreen{
          display: block;
        }
      }
      &__describtion span{
        font-weight: 700;
        font-size: 1.01rem;
        color: $yellow;
      }
    }
  }
}
